
<section class="row">
  <section class="col-md-6 col-md-offset-3">
    <h1 class="text-center">Welcome to Choice</h1>

    <p class="text-center">Thanks for joining! We'll be in touch soon.</p>
    
  </section>
</section>